<!-- Passing data with event and property binding: 

     Here app-recipe-list will list for the event recipeWasSelected, and will assign to the property
     selectedRecipe the recipe that has been passed as parameter in recipeWasSelected event.
     The recipe will be displayed only if selectedRecipe was set, otherwise it will be displayed
     ng-template.
     The selected recipe will be passed down to the details component in order to display it
     -->

<div class="row">
  <div class="col-md-5">
    <app-recipe-list (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail *ngIf="selectedRecipe; else infoText" [recipe] = "selectedRecipe"></app-recipe-detail>
    <ng-template #infoText>
      <p>Please select a Recipe!</p> 
    </ng-template>
  </div>
</div> 
