<!-- Passing Recipe Data with property binding:

In the ts file of the recipe-item component there's the property recipe 
that will be bindend to this component with the current recipe, the directive
Input allows to pass down the recipe  -->

<!-- Passing data with event and property binding: 

     This component will listen to the recipeSelected event, and when a recipe is clicked
     the onRecipeSelected method will be called passing the selected recipe as parameter.
     This method will emit another event to the outside passing the selected recipe.
     -->
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl"></app-recipe-item>
  </div>
</div>

